@model Employee

<form asp-controller="Employee" asp-action="Add" method="post">
    <div class="mb-3">
        <label for="formControlNome" asp-for="@Model.Nome" class="form-label"></label>
        <input type="text" class="form-control" id="formControlNome" asp-for="@Model.Nome" placeholder="Inserisci il nome">
    </div>
    <div class="mb-3">
        <label for="formControlCognome" class="form-label" asp-for="@Model.Cognome"></label>
        <input type="text" class="form-control" id="formControlCognome" asp-for="@Model.Cognome" placeholder="Inserisci il cognome">
    </div>
    <div class="mb-3">
        <label for="formControlIndirizzo" class="form-label" asp-for="@Model.Indirizzo"></label>
        <input type="text" class="form-control" id="formControlIndirizzo" asp-for="@Model.Indirizzo" placeholder="Inserisci l'indirizzo'">
    </div>
    <div class="mb-3">
        <label for="formControlCF" class="form-label" asp-for="@Model.CodiceFiscale"></label>
        <input type="text" class="form-control" id="formControlCF" asp-for="@Model.CodiceFiscale" placeholder="Inserisci il Codice Fiscale">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" asp-for=@Model.IsConiugato>
        <label class="form-check-label" asp-for="@Model.IsConiugato">Coniugato</label>
    </div>
    <div class="mb-3">
        <label for="formControlFigli" class="form-label" asp-for="@Model.FigliACarico"></label>
        <input type="number" class="form-control" id="formControlFigli" asp-for="@Model.FigliACarico" placeholder="Inserisci il numero">
    </div>
    <div class="mb-3">
        <label for="formControlMansione" class="form-label" asp-for="@Model.Mansione"></label>
        <input type="text" class="form-control" id="formControlMansione" asp-for="@Model.Mansione" placeholder="Inserisci la mansione">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>