@{
    ViewData["Title"] = "Home Page";
}

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Cognome</th>
                <th scope="col">Indirizzo</th>
                <th scope="col">Codice Fiscale</th>
                <th scope="col">Coniugato</th>
                <th scope="col">Figli a carico</th>
                <th scope="col">Mansione</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var employee in Model)
            {
                <tr>
                    <th scope="row">@employee.Id</th>
                    <td>@employee.Nome</td>
                    <td>@employee.Cognome</td>
                    <td>@employee.Indirizzo</td>
                    <td>@employee.CodiceFiscale</td>
                    <td>@(employee.IsConiugato ? "Si" : "No")</td>
                    <td>@employee.FigliACarico</td>
                    <td>@employee.Mansione</td>
                </tr>
            }
        </tbody>
    </table>
</div>
